

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.container {
    /* max-width: 1158px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/*        header 
============================= */

.container-header {
    display: flex;
    align-items: center;
    max-height: 56px;
}

/* .container-main {
    width: 496px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
} */

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-list {
    display: none;
    /* display: flex; */
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

/* .nav-item .current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
} */

.logo {
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
font-family: "Raleway", sans-serif;
line-height: 1.17;
/* margin-right: 76px; */
padding: 16px 0; 
}


.logo-styled {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}



.nav-list .nav-item .nav-link:hover,
.nav-list .nav-item .nav-link:focus {
    color: #404bbf;
}

address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;
    /* display: flex; */
    /* gap: 40px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}


 .address-link {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item .address-link:hover,
.address-item .address-link:focus {
    color:#404bbf;
}

.header-button-open {
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    padding: 4.8px 3.6px;
}

.menu-icon-open {
    fill: #2E2F42;
}



.social-media-icon {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-link:hover, .social-media-link:focus {
    background-color: #31d0aa;
}

.social-item-icon {
    fill: #f4f4fd;
}

.social-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*           menu 
============================== */

.menu {
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     /* opacity: 0;
    pointer-events: none;
    visibility: hidden;  */
}


.header-button-close {
   display: block;
   margin-left: auto;
   border-radius: 50%;
   background: transparent;
   border: 1px solid #e7e9fc;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-button-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.header-button-close:hover + .icon-close {
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
}

.nav-link-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-menu .nav-item-menu .nav-link-menu:hover {
    color: #404bbf;
}

.address-menu {
    margin-bottom: 48px;
    margin-left: 0;
}

.address-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.address-item-menu .address-link:hover {
    color:#404bbf;
}

.social-media-icons-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

/*            main 
======================================= */

.main-title {
    background-color: #2E2F42;
    padding: 72px 0;
    /* padding: 188px 0; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-phone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    /* max-width: 1440px; */ 
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .main-title {
        padding: 112px 0; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-phone-2x-2.jpg);
     }
}

.main-text {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    /* font-size: 56px; */
    line-height: 1.07;
    letter-spacing: 0.02em; 
    text-align: center;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto 72px;
    /* margin: 0 auto 48px; */
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family:inherit;
    letter-spacing: 0.04em;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    padding: 16px 32px;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title .main-button:hover, 
.main-title .main-button:focus {
    background-color: #404BBF;
}

/*             description
=========================================== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.container-description {
   display: flex;
   flex-direction: column;
   gap: 72px;
   max-width: 1440px;
   min-width: 320px;
   margin: 0 auto;
}

.descritpion {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    
}

.description-item {
    max-width: 288px;

}

.description-item:last-child {
    margin-bottom: 0;
}

.description-list {
    display: flex;
    flex-direction: column; 
    gap: 72px;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between;
    gap: 24px; */
}

.description-block {
    width: 100%;
    height: 112px;
    background: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.description-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-title {
    font-weight: 700;
    font-size: 36px;     
    font-style: normal;
    /* font-weight: 500;
    font-size: 20px; */
    line-height: 24px;
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.description-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*                     team 
====================================================  */

.team {
    background: #F4F4FD;

}

.container-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
}

 .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}


 .team-item {
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.team-item:last-child {
    margin-bottom: 0;
}

.team-item .team-text {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border: none;
}

.team-list {
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    gap: 24px; */
}

.team-list .team-item .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-list .team-item .team-position {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 24px;
     align-items: center;
     position: relative;
}

.item-icon {
    fill: #f4f4fd;
}

.icon-link:hover, .icon-link:focus{
    background-color: #404BBF;
}

.team-icon {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    gap: 24px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*             portfolio
==================================================== */


.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.container-portfolio {
    margin: 0 auto;
}

.container-portfolio-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
}

.portfolio-list {
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; */
}

.img-box {
    position: relative;
    overflow: hidden;
}

.item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item {
    /* width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    width: 288px;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item:hover .item-description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px
}

.portfolio-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*         footer   
================================= */

.footer {
    background-color: #2E2F42;
    color: #ffffff;
    /* padding: 100px 0; */
    padding: 96px 0;
}

.footer-div {
    /* display: flex;
    align-items: baseline; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.footer-div {
    /* display: flex;
    flex-wrap: wrap;
    position: relative; */

}

.link-wrapper {
    /* margin-right: 120px; */
    width: 288px;
}

.footer .logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: block;
    text-align: center;
    padding: 0;
}


.footer-logo-styled {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
}



.social-text {
    margin-bottom: 16px;
    top: 3256px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}



.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.social-media-icon {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-link:hover, .social-media-link:focus {
    background-color: #31d0aa;
}

.social-item-icon {
    fill: #f4f4fd;
}

.social-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.social-media-container {
    /* margin-right: 80px; */

}


.email-input {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-footer {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.input-area {
    display: flex;

}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.input-footer::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF; 
padding-left: 16px;
}

.input-title {   
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    border-color: #FFFFFF;
    margin-bottom: 16px; 
    text-align: center;
}

.input-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    min-width: 165px;
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 24px; */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
}

.icon-send {
    fill: #ffffff;
    margin-left: 16px;

}

/*        overlay 
============================= */

.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 0;
    visibility: hidden; 
    pointer-events: none; 
} 

.window {
    /* width: 408px; */
    width: 288px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 72px 24px 24px 24px;  */
    padding: 72px 16px 14px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.window-x {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    top: 24px;
}

.window-x:hover, .window-x:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.window-x:hover, .window-x:focus + .icon-close {
    fill: #ffffff;
}




.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.window-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px; 
}

.window-input {
    width: 100%;
    margin-top: 16px;
}

.input-text {
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.04em;
   color: #8E8F99;
}

.input-contacts {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 8px;
  margin-top: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}

.contacts-container {
    position: relative;
}

.window-send {
    padding: 16px 32px;
    gap: 10px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    color: #FFFFFF;
    left: 25%;
    transform: translateX(25%);
    bottom: 0;
    margin-top: 24px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    line-height: 1.17;
    margin-bottom: 4px;
}


.input-container {
    margin-bottom: 8px;
}


.icon-contacts {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .input-contacts:focus {
    border-color: #4D5AE5;
}

.input-contacts:focus + .icon-contacts {
    fill: #4d5ae5;
} */

.input-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-top: 4px;
    position: relative;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-comment:focus {
    border-color: #4D5AE5; 
}

.input-container-comment {
    position: relative;
    margin-bottom: 16px;
}

/*.input-comment::placeholder {
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
}
*/

input {
    font-family: inherit;
}

.mark-text {
   font-weight: 400;
   font-size: 12px;
   letter-spacing: 0.04em;
   color: #8E8F99;
   line-height: 1.17; 
   display: flex;
   align-items: baseline;
}




/* .input-mark {   
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;

}
*/

.mark-container {
    margin-bottom: 24px;
}



.input-mark:checked + .mark-text span{ 
    background-color: #404BBF; 
    border: none;  
    fill: #F4F4FD;
}

.mark-link {    
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}



.checkbox {
    min-width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    position: relative;
    /* margin-right: 8px; */
    margin-right: 7.5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    /* justify-content: center;
    align-items: center; */
}


@media (max-width: 767px) {
   
    .team-item {
        margin: 0px auto 96px ;
    }

    .description-item {
        margin-left: auto;
        margin-right: auto;
    } 

    /* .text-box {
        width: 231px;
    } */

    .checkbox {
        top: 25%;
        transform: translateY(25%);
    }

}

@media (max-width: 1157px) {
    .description-block {
        display: none;
    }
}



@media (min-width: 768px) {
    .main-title {
        padding: 112px 0; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
     }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-title {
            padding: 112px 0; 
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x-2.jpg);
         }
    }

    .main-text {
        font-size: 56px; 
        max-width: 496px; 
        margin: 0 auto 36px; 
    }

    .container-header {
        max-height: 72px;
    }

    .logo {
        padding: 24px 0;
        margin-right: 120px;
        margin-left: 0;
    }

    .menu-icon {
        display: none;
    }

    .nav {
        justify-content: start;
    }

    .nav-list {
        display: flex; 
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }

    .nav-item .current {
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .description {
        padding-top: 96px;
        padding-bottom: 96px;    
    }
    

    .description-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .description-item {
        max-width: 356px;
        flex-basis: calc(100%-24px) / 2;
    }

    .description-list {
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
   }

   .description-title {    
       font-weight: 700;
       font-size: 36px;
       text-align: start;
   }
   
   .team-list {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       row-gap: 64px;
       column-gap: 24px;
   }

   .team-item {
       max-width: 264px;
       width: calc((100% - 64px) / 2); 
   }

   .portfolio-list {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
       column-gap: 24px;
   }

   .portfolio-item {
       max-width: 356px;
       width: calc((100% - 72px) / 2); 
   }

   .social-text {
      text-align: start;
}

    .footer-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 108px;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }


    .logo {
        padding: 0;
    }

    .footer .logo {
        display: flex;
        text-align: center;
    }

    .footer-text {
        font-size: 16px;
        color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;

    }

    /*        overlay 
============================= */


   .window {
    width: 408px;
    padding: 72px 24px 24px 24px; 
    }

    .social-media-container {
    
    }

    .email-input {
        width: 453px;
        justify-content: start;
    }
    
    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .input-footer {
        width: 264px;
    }

    .input-title {   
        text-align: start;
    }

   .email-input {
      max-width: 453px;
      display: inline-block;
    
}

 
   .window-send {
    left: 50%;
    transform: translateX(50%);
   }

   .checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    position: relative;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

   .menu {
    display: none;
    }

   .header-button-open {
    display: none;
}

} 

@media (min-width: 1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }


    .logo {
        margin-right: 76px;
    }


    .nav-list {
        /* display: flex; 
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; */
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
        padding: 24px 0;
    }

    .main-title {
       padding: 188px 0; 
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .main-title {
            padding: 112px 0; 
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x-2.jpg);
         }
    }

    .main-text {
       margin: 0 auto 48px; 
    }

    .descritpion {
        padding-top: 120px;
        padding-bottom: 120px; 
        
    }

    .description-item {
        width: 264px;
     }

    .description-list {
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: center;
         gap: 24px; 
    }

    .description-title {    
        font-weight: 500;
        font-size: 20px; 
    }

    .team-list {
        justify-content: space-between;
        gap: 24px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3); 
    }


    .footer-div {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .logo {
        padding: 0;
    }

    .footer .logo {
        display: flex;
        text-align: center;
    }

    .footer-text {
        font-size: 16px;
        color: #F4F4FD;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;

    }

    .social-media-container {
    
    }

    .email-input {
        width: 453px;
        justify-content: start;
    }
    
    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .input-footer {
        width: 264px;
    }

    .input-title {   
        text-align: start;
    }

    .input-contacts:focus {
        border-color: #4D5AE5;
    }
    
    .input-contacts:focus + .icon-contacts {
        fill: #4d5ae5;
    }

}

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }